<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
	<title></title>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}css/master.css" type="text/css" media="screen" title="Master Stylesheet" charset="utf-8">
<!--required library--> <!--Yahoo! User Interface Library : http://developer.yahoo.com/yui/index.html-->
<script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/common/utils/2/yahoo_2.0.0-b2.js"></script> 
<script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/common/utils/2/event_2.0.0-b2.js" ></script> 
<script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/common/utils/2/dom_2.0.2-b3.js"></script> 
<script type="text/javascript" src="http://us.js2.yimg.com/us.js.yimg.com/lib/common/utils/2/animation_2.0.0-b3.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/accordion-menu-v2.css" /> <!--//required library-->
<script type="text/javascript" src="{{MEDIA_URL}}js/accordion-menu-v2.js"></script>

</head>
<body>
<div id="container">
	<div id="content">
		<p><span class="logoblack">django</span><span class="logoorange">apps*</span> is a resource for users of the webframework django and was created to encourage users to use and create reuseable applications. additionally this site will provide you techniques in creating reusable apps.</p>
		<h1>Popular Apps</h1>
		{% for app,num_votes in app_list %}
		<a href="#" class="rating hot100 {% cycle "top1" "top2" "top3" "" "" "" "" "" "" ""%}">
		<span class="hotness">100% hot</span>
		<span class="title">{{ app.name }}</span>
		<span class="voting">{{ num_votes }} <img src="{{MEDIA_URL}}images/voteup.png"></span></a>
		<div class="subheading"><p>{{ app.description }}</p></div>
		{% endfor %}

	</div>

	<div id="menu">
	
		<div id="colcontainer">
			<img src="{{MEDIA_URL}}images/logo.jpg">
			<div id="centercol">
				<h5>The place to find the latest django apps</h5>
				<form><p><input type="text" name="username" size="24">
						 <input type="submit" name="mysubmit" value="Search"></p>
				</form>
			</div>
			<div id="col1">
				<ul>
					<li style="list-style: none">
						<h1>Order apps</h1>
					</li>

					<li><a href="#">by rating</a></li>

					<li><a href="#">by hotness</a></li>

					<li><a href="#">by author</a></li>

					<li><a href="#">by tag</a></li>

					<li><a href="#">by date added</a></li>

					<li><a href="#">by name</a></li>
				</ul>
			</div>
			<div id="col2">
				<h1>Login</h1>
			
				<form>
					<p>username:</p> <input type="text" name="username" size="17"> <p>password:</p> <input type="text" name="username" size="17">
					 <p><input type="submit" name="mysubmit" value="Login"></p>
				</form>
			</div>
			
		</div>
		<img src="{{MEDIA_URL}}images/content_top.jpg">
	</div>
</div>
</body>
</html>