<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
	<title></title>
	
	<link rel="stylesheet" href="{{MEDIA_URL}}css/master.css" type="text/css" media="screen" title="Master Stylesheet" charset="utf-8">
</head>

<body>
<div id="container">

	<div id="menu">
		<p>Some Introduction</p>
		<h1>Other stuff</h1>
		<a class="100hot">hot django-tagging 5 stars</a>
		<a class="40hot">notthathot django-registration 2 stars</a>
		<h1>Other Stuff here, too</h1>
		<a class="60hot">notsohot django-something 3 stars</a>
	</div>
	<div id="content">
		<img src="{{MEDIA_URL}}images/logo.jpg">
		<div id="column"></div>
		<div id="col1"></div>
		<div id="col2"></div>
	</div>

</div>
</body>
</html>